.square {
    width: 100px;
    height: 100px;
    animation: colorChange 5s 3 linear;
  }

  @keyframes colorChange {
    0%, 100% {
      background-color: red;
    }
    20% {
      background-color: green;
    }
    40% {
      background-color: blue;
    }
    60% {
      background-color: yellow;
    }
    80% {
      background-color: orange;
    }
  }

  .resizable {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: resizeAnimation 4s 3 linear;
  }

  @keyframes resizeAnimation {
    0%, 80% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }


