body {
    background-color: #E5E5E5;
}

.Web {
    /* WebStudio */
    
    
        position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
}

.click {
    /* Студия */
    
    
        position: absolute;
        width: 49px;
        height: 16px;
        left: 453px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.click1 {
/* Портфолио */


    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.click1 {

}

.click:hover {
    color: #2196F3;
}

.click1:hover {
        color: #2196F3;
    }
.click1:focus {
        color: #2196F3;
    }
.click1:active {
    color: #000000;
}

.click2 {
    /* Контакты */
    
    
        position: absolute;
        width: 68px;
        height: 16px;
        left: 679px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.click2:hover {
    color: #2196F3;
}

.click2:focus {
    color: #2196F3;
}

.click2:active {
    color: #000000;
}

.click:focus {
    color: blue;
}

.click:active {
    color: blue;
}

.email {
    /* info@devstudio.com */
    
    
        position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #000000;
}

.email:hover {
    color: #2196F3;
}

.email:focus {
    color: #2196F3;
}

.email:active {
    color: #000000;
}

.tell {
    /* +38 096 111 11 11 */
    
    
        position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.tell:hover {
    color: #2196F3;
}

.tell:focus {
    color: #2196F3;
}

.tell:active {
    color: #000000;
    }

.bay {
        /* bg */
    
    
        position: absolute;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.bay {
    color: aliceblue;
    position: absolute;
        width: 136px;
        height: 30px;
        left: 732px;
        top: 440px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}
